* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  background-color: #fff;
  display: flex;
  justify-content: center;
}

body {
  display: flex;
  justify-content: center;
  padding: 2rem;
  background-color: #000;
  width: 60rem;
  max-width: 80rem;
  overflow: hidden;
  min-height: 100vh;
  text-align: center;
  color: aliceblue;
  border-radius: 1rem;
}

@media screen and (max-width: 650px) {
  body {
    width: 45rem;
  }

}


